.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    mistyrose 0%,
    mistyrose 50%,
    papayawhip 50%,
    papayawhip 100%,
  );
}

